name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version: ["1.12.2"]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Julia ${{ matrix.julia-version }}
      uses: julia-actions/setup-julia@v2
      with:
        julia-version: ${{ matrix.julia-version }}
        arch: x64

    - name: Cache Julia depot
      uses: julia-actions/cache@v1
      with:
        path: ~/.julia
        key: ${{ runner.os }}-julia-${{ hashFiles('Project.toml','Manifest.toml') }}

    - name: Add General registry
      run: julia -e 'using Pkg; Pkg.Registry.add("General")'

    - name: Build pkg
      run: julia -e 'using Pkg; Pkg.instantiate(); Pkg.build()'

    - name: Run test
      run: julia --project=. -e 'using Pkg; Pkg.test()'

    - name: Process coverage
      uses: julia-actions/julia-processcoverage@v1
    
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
      with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: lcov.info