name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.12.5"
        os: ["ubuntu-latest"]
        arch: ["x64"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Julia ${{ matrix.version }}
      uses: julia-actions/setup-julia@v2
      with:
        version: ${{ matrix.version }}
        arch: ${{ matrix.arch }}

    - name: Build pkg
      uses: julia-actions/julia-buildpkg@latest

    - name: Run test
      uses: julia-actions/julia-runtest@latest

    - name: Process coverage
      uses: julia-actions/julia-processcoverage@v1
    
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
      with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: lcov.info